
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root{
    --wallpapersecondary: #ffffff3f;
    --bgcolour: #1a1a1a;
    --fgcolour: #ffffff;
    --paragraphcolour: #bdbdbd;
    --headercolour: #e0e0e0;
    --accentcolour: #fb7d10;
    --accentcolour2: #744dff;
    --sidebarbg: #1a1a1a;
    --buttonprimarybg: #303135;
    --buttonprimaryhoverbg: #ffffff;
    --widgetprimarybg: #2d2f33;
    --widgethoverbg: #454545;
}

body{
    font-family: "Fira Code";
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: var(--bgcolour);
    color: var(--fgcolour);
    background-image: radial-gradient(circle, var(--wallpapersecondary) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 30px 30px;
}

.wallpaper{
    background-color: var(--bgcolour);
    color: var(--fgcolour);
    background-image: radial-gradient(circle, var(--wallpapersecondary) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 30px 30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
}

.profile-picture{
    position: absolute;
    height: 170px;
    top: 10%;
    left: 85%;
    transform: translate(-50%,-50%);
    border: var(--accentcolour2) 7px solid;
    border-radius: 50%;
}
.profile-picture img{
    width: 170px;
    border-radius: 50%;
}

.profile-picture:hover{
    border-color: var(--accentcolour);
    top: 15%;
    transition: all 0.5s ease;
}
.profile-picture:not(hover){
    transition: all 0.5s ease;
}

a{
    text-decoration: none;
}


h1:hover{
    color: var(--accentcolour);
    transition: all 0.3s ease;
}
h1:not(hover){
    transition: all 0.3s ease;
}

h2:hover{
    color: var(--accentcolour);
    transition: all 0.3s ease;
}
h2:not(hover){
    transition: all 0.3s ease;
}



p:hover{
    color: var(--accentcolour2);
    transition: all 0.3s ease;
}
p:not(hover){
    transition: all 0.3s ease;
}




.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--headercolour);
    width: 1000px;
    margin-top: 150px;
}

.center .aboutme{
    width: 600px;
}

.center .name-title:hover .underlined{
    left: 200px;
    background: linear-gradient(#744dff, #fb7d10);
}

.center h3 {
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-top: 0px;
}

.center h2{
    font-weight: 500;
    position: relative;
    margin-top: 0px;
}

.center h3:hover{
    color: var(--accentcolour);
    transition: all 0.3s ease;
}

.center h3:not(hover){
    transition: all 0.3s ease;
}

.center .underlined {
    position: absolute;
    width: 180px;
    height: 15px;
    bottom: 2px;
    z-index: -1;
	transform:skew(-70deg);
    background: linear-gradient(#fb7d10, #744dff);
    transition: all 1s ease;
}


.socials{
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials a{
    background-color: var(--bgcolour);
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--headercolour);
    margin-top: -25px;
    transition: .3s ease; 
}

.socials a:hover{
    background: linear-gradient(#744dff, #fb7d10);
    color: var(--bgcolour);
}

.socials a i{
    font-size: 20px;
}



.left-info{
    width: 299px;
}

.left-info p{
    width: 170px;
    text-align: right;
    margin-right: -120px;
    margin-left: 60px;
}

.left-info .time-info1{
    margin-top: 95px;
}
.left-info .time-info2{
    margin-top: 147px;
}
.left-info .time-info3{
    margin-top: 118px;
}

.right-info .time-info4{
    margin-top: 115px;
}
.right-info .time-info5{
    margin-top: 155px;
}
.right-info .time-info6{
    margin-top: 130px;
}

.right-info {
    width: 299px;
}

.right-info i{
    font-size: 25px;
}

.right-info span{
    color: var(--accentcolour);
}

.right-info p{
    font-size: 15px;
    width: 190px;
    text-align: left;
    margin-left:-100px;
}

.timeline-date{
    font-size: 17px;
}

.timeline i{
    color: var(--accentcolour);
}

.timeLineIndicator{
    width: 2px;
    height: 1450px;
    background: -webkit-linear-gradient(--accentcolour2,--headercolour);
    background: linear-gradient(#744dff, #fb7d10);
    position: absolute;
    display: flex;
    margin-left: 110px;
    justify-content: center;
}

.point{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--headercolour);
    border-radius:50% ;
}

.point-1 { top: 0px; background: var(--accentcolour2) }
.point-2 { top: 350px; }
.point-3 { top: 620px; }
.point-4 { top: 950px; }
.point-5 { top: 1450px; background: var(--accentcolour) }



.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 60px;
}

.widget {
    background: linear-gradient(#744dff, #fb7d10);
    font-size: 14px;
    text-align: center;
    border-radius: 10%;
    border: var(--widgethoverbg) 2px solid;
    width: 292px;
    height: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget:hover {
    background: linear-gradient(#fb7d10, #744dff);
    border-color: var(--accentcolour);
    transition: all 0.3s ease;
}

.widget:hover a{
    color: var(--accentcolour);
}

.widget:hover .languages-involved i{
    color: var(--accentcolour);
}

.widget h2 {
    margin-top: 10px;
    flex-shrink: 0;
}

.widget h2:hover{
    color: var(--headercolour);
}

.widget p {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.widget p:hover{
    color: var(--headercolour);
}


.widget .languages-involved i {
    margin-top: 10px;
    font-size: 25px;
    color: var(--accentcolour2);
    flex-shrink: 0;
}



.tools-languages-title{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-language-list{
    display: flex;
    color: var(--accentcolour);
    justify-content: center;
    font-size: 20px;
}

.tools{
    color: var(--accentcolour);
}

.languages{
    color: var(--accentcolour2);
    margin-bottom: 100px;
}


.scroll-button button{
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
    background-color: var(--widgethoverbg);
    font-size: 40px;
    border: none;
    border-radius: 30%;
    z-index: 99;
    cursor: pointer;
    outline: none;
}

.scroll-button button:hover{
    border: var(--accentcolour) 3px solid;
    transition: all 0.2s ease;
}

.scroll-button button:not(hover){
    transition: all 0.2s ease;
}


@keyframes fadeInAnimation {
    0%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }
}


@media (max-width: 1024px) {
    /* Tablet Layout */
    .center {
        width: 90%;
        margin-top: 80px;
    }

    .profile-picture {
        height: 120px;
        top: 10%;
        left: 88%;
        transform: translateX(-50%);
    }

    .profile-picture img {
        width: 120px;
    }

    .center h3 {
        font-size: 35px;
    }

    .center h2 {
        font-size: 25px;
    }

    .right-info{
        margin-left: 100px;
    }

    .timeLineIndicator{
        margin-left: 230px;
    }

    .widget {
        width: 30%;
        gap: 5px;
        width: 220px;
    }

    .socials a {
        padding: 8px 15px;
    }

    .scroll-button button{
        position: fixed;
        top: 90%;
        left: 90%;
        transform: translate(-50%,-50%);
        background-color: var(--widgethoverbg);
        background-color: transparent;
        font-size: 30px;
        border: none;
        border-radius: 30%;
        z-index: 99;
        cursor: pointer;
        outline: none;
    }
}

@media (max-width: 767px) {
    /* Mobile Layout */
    body {
        font-size: 14px;
    }

    .center {
        width: 70%;
        margin-top: 50px;
    }

    .center .aboutme {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    

    .profile-picture {
        height: 50px;
        top: 12%;
        left: 90%;
        transform: translateX(-50%);
    }

    .profile-picture img {
        width: 50px;
    }

    .center h3 {
        font-size: 30px;
    }

    .center h2 {
        font-size: 22px;
    }

    .socials a {
        padding: 6px 12px;
        font-size: 14px;
    }

    .widget {
        width: 400px;
    }


    .right-info{
        margin-left: 100px;
        margin-right: 100px;
    }
    .timeLineIndicator{
        margin-left: 220px;
    }
    
    .tool-language-list{
        font-size: 17px;
    }
    
    .language-tool-seperator{
        display: none;
    }

    .scroll-button button{
        position: fixed;
        top: 90%;
        left: 90%;
        transform: translate(-50%,-50%);
        background-color: var(--widgethoverbg);
        background-color: transparent;
        font-size: 20px;
        border: none;
        border-radius: 30%;
        z-index: 99;
        cursor: pointer;
        outline: none;
    }

}