@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root{
    --wallpapersecondary: #ffffff3f;
    --bgcolour: #1a1a1a;
    --fgcolour: #ffffff;
    --paragraphcolour: #ffffff;
    --headercolour: #ffffff;
    --accentcolour: #ff733c;
    --accentcolour2: rgb(146, 47, 244);   
    --sidebarbg: #1a1a1a;
    --buttonprimarybg: #303135;
    --buttonprimaryhoverbg: #ffffff;
    --widgetprimarybg: #2d2f33;
    --widgethoverbg: #454545;
}

html{
    overflow: scoll;
    overflow-x: hidden;
}

body{
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
    width: 0;
    background-color: transparent;

}



body{
    font-family: "Fira Code", monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: var(--fgcolour);
   background-color: black;

}

.wallpaper{
    background: #121212;
    background: linear-gradient(90deg,  rgba(0, 0, 0, 1) 1%, rgba(28, 28, 28, 1) 52%, rgba(0, 0, 0, 1) 100%);
    z-index: -9999;
    width: 100vw;
    height: 100%;
    position: fixed;
    background-repeat: repeat-y;
    top: 0;
    left: 0;
}



h1{
    color: var(--accentcolour);
}

i{
    font-family: inherit;
    font-style: normal;
}

.profile-picture{
    -webkit-box-shadow:0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    z-index: 99999;
    position: absolute;
    height: auto;
    top: 35%;
    left: 70%;
    transform: translate(-50%,-50%);
    border: 4px solid #0000;
    border-radius: 50%;

    background: linear-gradient(#2d180a, #1d0e07) padding-box, linear-gradient(
        var(--angle),
        rgb(234, 132, 15),
        rgb(138, 39, 231)
      ) border-box;

    animation: 3s rotate linear infinite;
}

.profile-image{
   border-radius: 50%;
   width: 400px;
   height: 400px;
}

a{
    text-decoration: none;
    
}


span{
    color: var(--accentcolour);
}

h3 span{
    color: white;
}

h1:hover{
    color: var(--accentcolour);

    transition: all 0.3s ease;
}
h1:not(hover){
    transition: all 0.3s ease;
}

h2:hover{
    color: var(--accentcolour);
    transition: all 0.3s ease;
}
h2:not(hover){
    transition: all 0.3s ease;
}

p{
    font-size: 17px;
}



p:hover span{
    color: var(--accentcolour);
    transition:  all 0.3s ease;
}
p:not(hover) span{
    transition: all 0.3s ease;
}



.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--headercolour);
    width: 1000px;
    margin-top: 150px;
}

.center .aboutme{
    width: 600px;
}

.center .name-title:hover .underlined{
    left: 200px;
    background: linear-gradient(var(--accentcolour), var(--accentcolour2));
}


.name-title span{
    display: inline-block;
    font-size: 4rem;
    animation: wave 2.7s ease-in-out infinite
}

.name-title span:nth-child(1){
    animation-delay: 0s;;
}
.name-title span:nth-child(2){
    animation-delay: 0.2s;;
}
.name-title span:nth-child(3){
    animation-delay: 0.4s;;
}
.name-title span:nth-child(4){
    animation-delay: 0.6s;;
}
.name-title span:nth-child(5){
    animation-delay: 0.8s;;
}
.name-title span:nth-child(6){
    animation-delay: 0.10s;;
}
.name-title span:nth-child(7){
    animation-delay: 0.12s;;
}
.name-title span:nth-child(8){
    animation-delay: 0.14s;;
}
.name-title span:nth-child(9){
    animation-delay: 0.16s;;
}
.name-title span:nth-child(10){
    animation-delay: 0.18s;;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.center h3 {
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-top: 0px;
}

.center h2{
    font-weight: 500;
    position: relative;
    margin-top: 0px;
}

.center h3:hover{
    color: var(--accentcolour);
    transition: all 0.3s ease;
}

.center h3:not(hover){
    transition: all 0.3s ease;
}



.socials{
    display: flex;
    z-index: 999999;
    align-items: center;
    gap: 10px;
    min-width: 120px;
    text-align: center;
    
}

.socials span{
    color: white;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
}

.socials span i{
    font-size: 1rem;
}

.socials a{
    background: rgb(118,0,255);
    background: linear-gradient(90deg, rgb(233, 124, 8) 4%, rgb(52, 3, 158) 100%);
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--headercolour);
    margin-top: -25px;
    transition: .3s ease; 
}



.socials a:hover{
    -webkit-box-shadow:0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
}

.socials a i{
    font-size: 15px;
}





.left-info {
    align-self: flex-start;
    text-align: right;
    padding-right: 60%;
}

.left-info p {
    text-align: right;
    margin-right: 5%;
}

.left-info i{
    text-align: right;
    margin-right: 20px;
}

.right-info {
    align-items: flex-end;
    text-align: left;
    padding-left: 60%;
}

.right-info p {
    text-align: left;
    margin-left: 20px;
}

.right-info i{
    text-align: left;
    margin-left: 20px;
}

.timeline {
    position: relative;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.timeline-date {
    font-size: 1.2rem;
    font-weight: bold;
}

.time-info{
    position: relative;
    width: 45%;
    margin: 20px 0;
}

.timeline i {
    color: var(--accentcolour);
    font-size: 25px;
}

.right-info span,
.left-info span {
    color: var(--accentcolour);
}

.timeLineIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    background: linear-gradient(var(--accentcolour), var(--accentcolour2));
    z-index: 1;
}



.project-list{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 150px;
    margin-bottom: 20px;
}

.widget {
    -webkit-box-shadow:0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    font-size: 14px;
    text-align: center;
    border-radius: 10%;
    width: 320px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    
    border: 4px solid #0000;
    border-radius: 12px;

    background: linear-gradient(#d85f0e, #7922ac) padding-box, linear-gradient(
        var(--angle),
        rgb(221, 123, 10),
        rgb(114, 37, 187)
      ) border-box;

    animation: 3s rotate linear infinite;
}

.widget a{
    font-size: 16px;
}

.tools{
    gap: 5px;
}

.tools span{
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    color: white;
}

.tools i{
    margin-bottom: 15px;
    font-family: 'Fira Code', monospace;
    color: var(--accentcolour1);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    border: 2px solid #0000;
    border-radius: 12px;

    background: linear-gradient(#2d180a, #1d0e07) padding-box, linear-gradient(
        var(--angle),
        rgb(194, 118, 31),
        rgb(110, 50, 166)
      ) border-box;

    animation: 3s rotate linear infinite;
}




@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

.widget .widget-image img{
    width: 90%;
    border-radius: 3%;
}

.widget a{
    color: var(--paragraphcolour)
}

.widget:hover {
    -webkit-box-shadow:0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 105px 36px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
}

.widget:hover a{
    color: var(--paragraphcolour);
}



.widget h2 {
    margin-top: 10px;
    flex-shrink: 0;
}

.widget h2:hover{
    color: var(--headercolour);
}



.widget .languages-involved i {
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--accentcolour);
    flex-shrink: 0;
}



.tools-languages-title{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-language-list{
    display: flex;
    color: var(--accentcolour);
    justify-content: center;
    
    font-size: 20px;
}


.tools{
    
    color: var(--accentcolour);
}

.tools i{
    background: linear-gradient(#d46216, #8f19d4) padding-box, linear-gradient(
        var(--angle),
        rgb(194, 118, 31),
        rgb(110, 50, 166)
      ) border-box;
      color: white
}

.languages{
    color: white;
    margin-bottom: 100px;
}


.scroll-button button{
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    font-size: 40px;
    border: none;
    border-radius: 30%;
    z-index: 99;
    cursor: pointer;
    outline: none;
}



@keyframes fadeInAnimation {
    0%{
        opacity: 0.8;
    }

    100%{
        opacity: 1;
    }
}


@media (max-width: 1300px) {


    /* Tablet Layout */
    .center {
        width: 80%;
        margin-top: 80px;
    }

    .profile-picture {
        z-index: -1;
        height: 240px;
        top: 10%;
        left: 75%;
        transform: translateX(-50%);
    }

    .profile-picture img {
        width: 240px;
        height: 240px;
    }

    .center h3 {
        font-size: 35px;
    }

    .center h2 {
        font-size: 25px;
    }




    .project-list{
        width: 100%;

    }

    .widget {
        width: 300px;
        align-items: center;
        justify-content: center;
        height: 290px;
        gap: 5px;

    }


    .socials a {
        padding: 8px 15px;
    }


}





@media (max-width: 900px){
    
    .project-list{
        grid-template-columns: repeat(1, 1fr);
    }



}

@media (max-width: 770px) {


    /* Tablet Layout */
    .center {
        width: 60%;
        margin-top: 300px;
        margin-right: 40px;
    }

    .center .aboutme{
        width: 320px;
        font-size: 14px;
        margin-top: 10px;
    }

    .current-position{
        width: 400px;
        margin-bottom: 30px;
    }
    .profile-picture {
        z-index: 1; 
        height: 200px;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .profile-picture img {
        width: 200px;
        height: 200px;
    }

    h1{
        margin-top: 0;
    }
    
    .name-title{
        z-index: 999;
        margin-bottom: 50px;
    }
    .center h3 span{
        font-size: 37px;
        z-index: 999;
    }

    .center h3 {
        font-size: 25px;
    }

    .center h2 {
        font-size: 20px;
    }




    .project-list{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

    }

    .widget {
        width: 300px;
        align-items: center;
        justify-content: center;
        height: 270px;
        gap: 5px;

    }

    .socials a {
        padding: 8px 15px;
    }

    .form-group input{
        width: 205px;
    }


@media (max-width: 500px) {


    /* Tablet Layout */
    .center {
        width: 60%;
        margin-top: 300px;
        margin-right: 40px;
    }

    .center .aboutme{
        width: 350px;
        font-size: 12px;
        margin-top: 10px;
    }
    .profile-picture {
        z-index: 1; 
        height: 200px;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .profile-picture img {
        width: 200px;
        height: 200px;
    }

    h1{
        margin-top: 0;
    }
    
    .name-title{
        z-index: 999;
        margin-bottom: 50px;
    }

    .center h3 span{
        font-size: 37px;
        z-index: 999;
    }

    .center h3 {
        font-size: 20px;
    }

    .center h2 {
        font-size: 20px;
    }

    .right-info{
        width: 70%;
        padding-left: 75%;
    }
    .left-info{
        width: 70%;
        padding-right: 75%;
        margin-left: -70px;
    }


    .project-list{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

    }

    .widget {
        width: 300px;
        align-items: center;
        justify-content: center;
        height: 270px;
        gap: 5px;

    }

    .socials a {
        padding: 8px 15px;
    }

    .tools-languages-title{
        width: 300px;
        font-size: 28px;
    }

    .tools{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }




    .form-group input{
        width: 115px;
    }


}
}